body{
    background: #F4F4F4;
}
.main-backgroung-image{
    width: 100%;
    transition: all 0.15s ease-in;
}
.main-backgroung{
    background: #000;
}
.main-backgroung-image{
    filter: opacity(45%);
}
.button{
    border-radius: 	0px;
    border: 0.01em solid rgba(160,160,160, 0.4);
    background: transparent;
    padding: 5px;
    -ms-align-self: center;
    align-self: center;
    font-size: 1.2em;
    color: rgb(160, 160, 160);
    letter-spacing: 0.1em;
    transition: all 0.3s ease-in;
}
.button:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
    filter: opacity(70%);
    /*color: #fff;*/
    /*border: 2px solid rgba(160,160,160, 0.5);*/
}
.button p{
    margin: 0;
}
.welcome-form, .login-form{
    background: rgba(10 ,10 ,10 , 0.4);
    border-radius: 24px;
    border: 1px solid rgba(10 ,10 ,10 , 0.4);
    transition: all 0.5s ease-in-out;
}

.welcome-text, .login-text{
    color: rgba( 160, 160, 160, 1);
}
.hidden{
    display: none;
}
.header{
    background: #6E84D6;
}
.header div p{
    color: #e7e5ff
}
.menu-item-text{
    color: #e7e5ff;
}
.menu-item-text:after{
    background-color: #e7e5ff;
}
.menu-item-container:hover{
    background-color: #6E84D6;
}
.menu{
    background:  #5d5b81;
}
.menu-icon{
    background:  #5d5b81;
    color: #e7e5ff;
    border: 1px solid #5d5b81	;
    border-radius: 5px;
    overflow: hidden;
}
.template-container .button:hover,
.space-container .button:hover{
    background:  #f1edff;
    border: 0.01em solid #f1edff	;
}
.template-container:hover,
.space-container:hover{
    box-shadow: 3px 0px 30px rgba(110, 132, 214, 0.8);
}
.delete-button-icon{
    filter: opacity(30%);
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.delete-button-icon:hover{
    filter: opacity(70%);
}

.form-block{
    background: rgba(0,0,0,60%);
}
.form{
    background: #f4f4f4;
    border: 0px solid rgba(0,0,0,1);
    border-radius: 15px;
    overflow: hidden;
}
.form-caption{
    background: #6E84D6;
}
.form-caption{
    color: #e7e5ff
}
.buttons-container .button:hover{
    background:  #c0c7f6;
    border: 0.01em solid #c0c7f6	;
}
.menu-link{
    text-decoration: none;
    color: #e7e5ff;
}