<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>cw.servlets.test.CreateTemplateObject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/site/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/site/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginJson</servlet-name>
        <servlet-class>cw.servlets.json.impl.LoginJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginJson</servlet-name>
        <url-pattern>/loginJson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userJson</servlet-name>
        <servlet-class>cw.servlets.json.impl.CurrentUserJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userJson</servlet-name>
        <url-pattern>/userJson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createTemplateJson</servlet-name>
        <servlet-class>cw.servlets.json.impl.CreateTemplateJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createTemplateJson</servlet-name>
        <url-pattern>/createTemplateJson</url-pattern>
    </servlet-mapping>
</web-app>